<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amercosovic.mynews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Newsr"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ReadNotifiedSearchedArticle"
            android:label="Read Notified Article"
            android:parentActivityName=".NotifiedSearchedNews"></activity>
        <activity
            android:name=".NotifiedSearchedNews"
            android:label="Notified Searched News"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".ReadNotifiedArticle"
            android:label="Read Notified Article"
            android:parentActivityName=".NotifiedNews"></activity>
        <activity
            android:name=".NotifiedNews"
            android:label="Notified News"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NotificationsActivity"
            android:label="Notifications">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amercosovic.mynews.MainActivity" />
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="Search Results"
            android:parentActivityName=".SearchActivity" />
        <activity
            android:name=".SearchActivity"
            android:label="Search Articles"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SecondActivity"
            android:label="Read Article"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true" />

        <receiver
            android:name=".receiver.AlarmReceiver2"
            android:enabled="true" />
    </application>

</manifest>